<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/site.css">
</head>
<body>
<div id="load">
  <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="rgba(48, 3, 48, 0.395)" class="bi bi-files" viewBox="0 0 16 16">
    <path d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zM3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4z"/>
  </svg>
</div>
<nav class="navbar navbar-expand-lg shadow whole-content">
    <div class="navbar-container container-fluid">
      <a class="navbar-brand d-flex flex-row align-items-center justify-content-center" href="/">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="rgba(48, 3, 48, 0.395)" class="bi bi-files" viewBox="0 0 16 16">
        <path d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zM3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4z"/>
      </svg>FSAP</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-items text-center" style="--bs-scroll-height: 100px;">
      
          <li class="nav-item">
            <a class="nav-link active" id="get-started-nav-item" aria-current="page" href="#get-started">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="how-to-use-nav-item" href="#how-to-use">How to use</a>
          </li>
          
        </ul>
      <ul class="user navbar-nav">
        <li class="nav-item logout-item">  
          <a class="nav-link btn btn-outline-light site-btns text-dark nav-btn" href="/welcome">
          <!--<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
          </svg>--> Sign in</a>
        </li>
        <li class="nav-item"><a class="nav-link site-btns btn btn-outline-dark nav-btn" href="/registrationPage">Sign up</a></li>
      
    </ul>
        
      </div>
    </div>
  </nav>







<main class="whole-content">
  <section class="get-started" id="get-started">
    <div class="container col-md-7 py-5 col-xl-10">

      <div class="container text-center py-5 row gy-3 gx-0">

        <div class="title-div">
          <h1 class="get-started-main-title">Share Files Securely Via Email </h1>
        </div>
        <div class="content-div text-center container col-xl-7">
          <p class="content">Share files securely with anyone, anywhere and at anytime. No limits. You can add files, share them by sending via email. Let's not forget, you can download files with ease </p>
        </div>
       <div class="button-div">
        <a href="#how-to-use" class="btn find-out-more-btn  sec-btn text-white">Find Out More!</a>
       </div>

      </div>

    </div>

  </section>

  <section class="how-to-use" id="how-to-use">
    <div class="py-5">
      <div class="py-5 row gy-5 gx-0">
        <div class="sec-2-title-div text-center">
          <h1 class="sec-2-main-title">How to use </h1>
        </div>
        <div class="sec-2-content-div">
          <div class="how-to-add card">
            <h5 class="text-center card-title">Add files</h5>
            <ul class="list-items row gy-3">

              <li class="list-item col-sm-6 col-md-4 col-lg-3 col-xl-2">
              <span class="card-step-num">
                <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-1-square-fill" viewBox="0 0 16 16">
                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm7.283 4.002V12H7.971V5.338h-.065L6.072 6.656V5.385l1.899-1.383h1.312Z"/>
              </svg>
            </span>
            <span class="card-step">Sign up if you don't have an account else sign in. When you do that, you will move to the home page. If not, go the the home page</span>
          </li>

              <li class="list-item col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <span class="card-step-num"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-2-square-fill" viewBox="0 0 16 16">
                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm4.646 6.24v.07H5.375v-.064c0-1.213.879-2.402 2.637-2.402 1.582 0 2.613.949 2.613 2.215 0 1.002-.6 1.667-1.287 2.43l-.096.107-1.974 2.22v.077h3.498V12H5.422v-.832l2.97-3.293c.434-.475.903-1.008.903-1.705 0-.744-.557-1.236-1.313-1.236-.843 0-1.336.615-1.336 1.306Z"/>
              </svg>
            </span>
            <span class="card-step">Click the add your files button.</span>
           </li>

              <li class="list-item col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <span class="card-step-num">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-3-square-fill" viewBox="0 0 16 16">
                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm5.918 8.414h-.879V7.342h.838c.78 0 1.348-.522 1.342-1.237 0-.709-.563-1.195-1.348-1.195-.79 0-1.312.498-1.348 1.055H5.275c.036-1.137.95-2.115 2.625-2.121 1.594-.012 2.608.885 2.637 2.062.023 1.137-.885 1.776-1.482 1.875v.07c.703.07 1.71.64 1.734 1.917.024 1.459-1.277 2.396-2.93 2.396-1.705 0-2.707-.967-2.754-2.144H6.33c.059.597.68 1.06 1.541 1.066.973.006 1.6-.563 1.588-1.354-.006-.779-.621-1.318-1.541-1.318Z"/>
              </svg>
            </span>
            <span class="card-step">Type your password in the rectangle containing the word password. This password is just to ensure the security of the file</span>
          </li>

              <li class="list-item col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <span class="card-step-num"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-4-square-fill" viewBox="0 0 16 16">
                  <path d="M6.225 9.281v.053H8.85V5.063h-.065c-.867 1.33-1.787 2.806-2.56 4.218Z"/>
                  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm5.519 5.057c.22-.352.439-.703.657-1.055h1.933v5.332h1.008v1.107H10.11V12H8.85v-1.559H4.978V9.322c.77-1.427 1.656-2.847 2.542-4.265Z"/>
                </svg></span>
                <span class="card-step">Choose a file or files</span> 
              </li>

              <li class="list-item col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <span class="card-step-num"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-5-square-fill" viewBox="0 0 16 16">
                  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm5.994 12.158c-1.57 0-2.654-.902-2.719-2.115h1.237c.14.72.832 1.031 1.529 1.031.791 0 1.57-.597 1.57-1.681 0-.967-.732-1.57-1.582-1.57-.767 0-1.242.45-1.435.808H5.445L5.791 4h4.705v1.103H6.875l-.193 2.343h.064c.17-.258.715-.68 1.611-.68 1.383 0 2.561.944 2.561 2.585 0 1.687-1.184 2.806-2.924 2.806Z"/>
                </svg></span>
                <span class="card-step">Click the add file(s) button</span> 
              </li>
            </ul>
          </div>
          <div class="how-to-send text-center card">
            <h5 class="text-center card-title">Send files</h5>
            <ul class="list-items row gy-3">

              <li class="list-item col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <span class="card-step-num">
                  <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-1-square-fill" viewBox="0 0 16 16">
                  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm7.283 4.002V12H7.971V5.338h-.065L6.072 6.656V5.385l1.899-1.383h1.312Z"/>
                </svg>
              </span>
              <span class="card-step"> Sign up if you don't have an account else sign in.</span>
              </li>

              <li class="list-item col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <span class="card-step-num"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-2-square-fill" viewBox="0 0 16 16">
                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm4.646 6.24v.07H5.375v-.064c0-1.213.879-2.402 2.637-2.402 1.582 0 2.613.949 2.613 2.215 0 1.002-.6 1.667-1.287 2.43l-.096.107-1.974 2.22v.077h3.498V12H5.422v-.832l2.97-3.293c.434-.475.903-1.008.903-1.705 0-.744-.557-1.236-1.313-1.236-.843 0-1.336.615-1.336 1.306Z"/>
              </svg>
            </span>
            <span class="card-step"> Click the home navigation item on the top left corner of the application(for desktop)
              <span class="alternative">Or tap the menu button on the top right hand corner of the application and tap the home navigation item</span>
           </span>
          </li>

          <li class="list-item col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <span class="card-step-num">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-3-square-fill" viewBox="0 0 16 16">
            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm5.918 8.414h-.879V7.342h.838c.78 0 1.348-.522 1.342-1.237 0-.709-.563-1.195-1.348-1.195-.79 0-1.312.498-1.348 1.055H5.275c.036-1.137.95-2.115 2.625-2.121 1.594-.012 2.608.885 2.637 2.062.023 1.137-.885 1.776-1.482 1.875v.07c.703.07 1.71.64 1.734 1.917.024 1.459-1.277 2.396-2.93 2.396-1.705 0-2.707-.967-2.754-2.144H6.33c.059.597.68 1.06 1.541 1.066.973.006 1.6-.563 1.588-1.354-.006-.779-.621-1.318-1.541-1.318Z"/>
          </svg>
        </span>
        <span class="card-step"> Click the share file(s) button. This password is just to ensure the security of the file</span>
      </li>
              
      <li class="list-item col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <span class="card-step-num"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-4-square-fill" viewBox="0 0 16 16">
          <path d="M6.225 9.281v.053H8.85V5.063h-.065c-.867 1.33-1.787 2.806-2.56 4.218Z"/>
          <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm5.519 5.057c.22-.352.439-.703.657-1.055h1.933v5.332h1.008v1.107H10.11V12H8.85v-1.559H4.978V9.322c.77-1.427 1.656-2.847 2.542-4.265Z"/>
        </svg></span>
        <span class="card-step">Type the receiver's email and the password you would like to protect your file with in their respective boxes. This password is just to ensure the security of the file</span> 
      </li>  
            </ul>
          </div>
          
        </div>
       <div class="sec-2-button-div text-center">
        <a href="/registrationPage" class="btn sign-up-btn sec-btn text-white">Start Using</a>
       </div>
      </div>
    </div>

  </section>
  
</main>


  <script src="/styles/index.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>