@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
:root{
    /* --clr-p: rgb(0, 255, 242); */
    --clr-p: #3d85f8;
    --clr-p-2: rgba(48, 3, 48, 0.395);
    --bg-body: rgba(224, 217, 224, 0.882);
    --clr-neutral-white:hsl(0, 0%, 100%);
    /* --clr-neutral-magenta-100:hsl(300, 24%, 96%); */
    --clr-neutral-magenta-100:#f6f3f3;
    --clr-primary-magenta-900:#502050;
    --clr-primary-magenta-400:#774177;
    --form-control: #ffdbff;
    --clr-white: #fff;
    --bg-dark: #212529;

    --ff-1:  'Poppins', sans-serif;
    --ff-2: 'Montserrat', sans-serif;
    --fw-regular: 400;
    --fw-bold: 700;
    --fw-medium: 500;
    /* font-family: var(--ff-2); */
}


/* for the border around each input field */
.form-control:focus{
    border-color:white; 
    box-shadow:none; 
    -webkit-box-shadow: 0 0 0 0.25rem var(--form-control);
}

.has-error .form-control:focus{
    box-shadow: none;
    -webkit-box-shadow: none;
}
/********/


.bottom-btn{
    border-color: var(--clr-primary-magenta-400);
    background-color: var(--clr-primary-magenta-400);
    color: var(--clr-white);
}
.bottom-btn:hover{
    background-color: var(--clr-primary-magenta-900);
    border-color: var(--clr-primary-magenta-900);
    font-weight: var(--fw-medium);
    color: var(--clr-white);
}

.link-msg{
    color: var(--clr-primary-magenta-900);
    text-decoration: none;
}

.link-msg:hover{
    color: var(--clr-primary-magenta-900);
    text-decoration: none;
}


/*this is for the share pages */
.all-addresses, .first-address{
    display: flex;
    flex-direction: row;
    gap: 5px;
    /* align-items: center;
    justify-content: center; */
}

.email-div{
    flex-grow: 1;
}

.add-email-btn-icon{

    fill: var(--bg-dark);
}

.add-email-btn{
    border: none;
    /* background-color: var(--clr-white); */
    width: 2.8rem;
    height: 3rem;
    align-self: center;
}

.remove-btn{
    border: none;
    color: red;
    align-self: center;
}