@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
:root{
    --clr-m: #3d85f8;
    --clr-p-2: rgba(48, 3, 48, 0.395);
    --bg-body: rgba(224, 217, 224, 0.882);
    /* --clr-neutral-magenta-100:hsl(300, 24%, 96%); */
    --clr-neutral-magenta-100:#f6f3f3;
    --clr-white: #fff;
    --clr-primary-magenta-900:#502050;
    --clr-primary-magenta-400:#774177;

    --ff-1:  'Poppins', sans-serif;
    --ff-2: 'Montserrat', sans-serif;
    --fw-regular: 400;
    --fw-bold: 700;
    --fw-medium: 500;

    /* font-family: var(--ff-2); */
}
*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body *, body *::after, body *::before{
    display: block;
}

.login-main{
    padding: 2rem 0.7rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-white);
 }

 
.login-container{
    padding: 2rem 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #fff;
    border-radius: 10px;
    border-bottom:4px solid var(--clr-neutral-magenta-100);
    border-top:4px solid var(--clr-neutral-magenta-100);
    box-shadow: 2px 2px 10px var(--bg-body);
}
.login-image{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.login-border{
    height: 3px;
    width: 1.7rem;
    background-color: var(--clr-primary-magenta-400);

}


.sign-up-link{
    color: var(--clr-primary-magenta-400);
    text-decoration: none;
}

.sign-up-link:hover{
    color: var(--clr-primary-magenta-400);
    text-decoration: none;
}

.login-content-header{
    padding: 1rem;
}

.login-btn{
    border-radius: 10px;
    font-weight: var(--fw-medium);
    width: 100%;
}

.disabled{
    background-color: var(--clr-primary-magenta-900) !important;
    border-color: 2px solid var(--clr-primary-magenta-900) !important;
}


.sign-in-btn{
    border-color: var(--clr-primary-magenta-400);
    background-color: var(--clr-primary-magenta-400);
}
.sign-in-btn:hover{
    background-color: var(--clr-primary-magenta-900);
    border-color: var(--clr-primary-magenta-900);

}


@media (min-width: 619px){
    .login-container{
        flex-direction: row;
        max-width: 40rem;
        padding-left: 0;
        gap: 3rem;
    }

    .login-image{
        justify-content: center;
        align-items: center;
        width: 40%;
        /* background-color: #3d85f8; */
        background-color: var(--clr-neutral-magenta-100);
    }
}